*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ files and dirs
.idea
*.iml

# LaTeX files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fff
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.synctex.gz
*.synctex
*.vrb
*.glsdefs

#*.pdf

# Eclipse
.metadata/
.classpath
.project
.settings
.recommenders/
bin/

#npm
Implementierung/Client/WebApp/node_modules

#sass
Implementierung/Client/WebApp/.sass-cache
*.css.map

#generiert
Implementierung/Client/WebApp/htdocs/css
Implementierung/Client/WebApp/htdocs/js
Implementierung/Client/WebApp/build/coverage

