<div class="subviewHeader">
    <div class="icon">
        <a href="#" class="home">{{=obj.LM.getMessage('icon')}}</a>
    </div>
    <div class="info">
        {{ if(obj.sessionInformation.isLoggedIn()){ }}
            {{=obj.LM.getMessage('loggedIn')}} | 
            <a href="#" class="profile">
                {{=obj.LM.getMessage('profile')}}
            </a> |
            <a href="#" class="logout">
                {{=obj.LM.getMessage('logout')}}
            </a>
        {{ } else { }}
            {{=obj.LM.getMessage('notLoggedIn')}}, <a href="{{=API_DOMAIN}}/auth/login?api_key={{=API_KEY}}&scope={{=API_SCOPE}}">
                {{=obj.LM.getMessage('login')}}
            </a>
        {{ } }}
    </div>
</div>