<div class="subviewHeader">
    <div class="icon">
        {{=obj.LM.getMessage('icon')}}
    </div>
    <div class="info">
        {{ if(obj.sessionInformation.isLoggedIn()){ }}
            {{=obj.LM.getMessage('loggedIn')}} | 
            <a href="#profile">
                {{=obj.LM.getMessage('profile')}}
            </a> |
            <a href="{{=API_DOMAIN}}/auth/logout">
                {{=obj.LM.getMessage('logout')}}
            </a>
        {{ } else { }}
            {{=obj.LM.getMessage('notLoggedIn')}}, <a href="{{=API_DOMAIN}}/auth/login?api_key={{=API_KEY}}&scope={{=API_SCOPE}}">
                {{=obj.LM.getMessage('login')}}
            </a>
        {{ } }}
    </div>
</div>