<div class="generationWizardComponent3 ">
    <div class="box">
        <h1>{{=obj.LM.getMessage('generationTitle')}}</h1>
    </div>
    <div class="box">
        <p>{{=obj.LM.getMessage('generationExplanation3')}}</p>
    </div>
    <div class="box">
        <p>
            <label class="label-center">{{=obj.LM.getMessage('generationEctsQuestion')}}</label>
            <label class="minValue">min: 0 </label>
            <label class="maxValue">max: 60</label>
            <br clear="all"/>
            </p>
            <div class="rangeSlider1"></div>
            <input id="minECTS" class="currentMinValue"type="number" value='{{=obj.curvalues.get("min-semester-ects")}}' readonly>
            <input id="maxECTS" class="currentMaxValue"type="number" value='{{=obj.curvalues.get("max-semester-ects")}}' readonly>
            <br clear="all" />
        
        
            <p>            
            <label class="label-center">{{=obj.LM.getMessage('generationSemesterQuestion')}}</label>
            <label class="minValue">min: 2 </label>
            <label class="maxValue">max: 20</label>
            <br clear="all"/>
            </p>
            <div class="rangeSlider2"></div>
            <input id="minSemester" class="currentMinValue"type="number" value='{{=obj.curvalues.get("min-semesters")}}' readonly>
            <input id="maxSemester" class="currentMaxValue"type="number" value='{{=obj.curvalues.get("max-semesters")}}' readonly>
            <br clear="all" />
    </div>
    {{obj.fields.each(function (el) { }}
    <div class="box">
        <p class="dropdownWrapper"><label>{{=el.get('name')}}</label>
        <select class=" fieldDropDown" data-field-id="{{=el.get('id')}}" size="1">
            {{ _.each(el.get('categories'),function(el2) { }}
            <option value ="{{=el2.id}}">{{=el2.name}}</option>
            {{ }) }}
        </select><br clear="all" /></p>
    </div>
    {{ }) }}
</div>
