<div class="generationWizardComponent3 /**
    *
    */
    render:
        function () {
            "use strict";
            this.$el.html(this.template());
            this.delegateEvents();
        },">
    <div class="box">
        <h1>{{=obj.LM.getMessage('generationTitle')}}</h1>
    </div>
    <div class="box">
        {{=obj.LM.getMessage('generationExplanation3')}}
    </div>
   <div class="rangeSlider">
        <input class="min-ECTS"type="number" value='{{=obj.filter.get("curValue").min}}' readonly>
        <input id='max_range_{{=obj.filter.get("id")}}' class="currentMaxRange" value='{{=obj.filter.get("curValue").max}}' readonly>
    </div>
    <div>
        
        
    </div>
    <div>
        
        
    </div>
</div>