<div class="generationWizardComponent1">
    <div class="box">
        <h1>{{=obj.LM.getMessage('generationTitle')}}</h1>
    </div>
    <div class="box">
        <p>{{=obj.LM.getMessage('generationExplanation1')}}</p>
    </div>
    <div class="box">
        <p><label>{{=obj.LM.getMessage('generationChooseFunction')}}</label>
        <select class="objectiveFunctionDropDown" size="1">
            {{obj.functions.each(function (el) { }}
            <option value ="{{=el.get('id')}}">{{=el.get('name')}}</option>
            {{ }) }}
        </select></p>
    </div>
</div>