<div class = "proposalSidebarTitle"> 
    <label>{{=obj.LM.getMessage ('proposalSidebartitle')}}</label>
    </div>
<div class ="proposalSidebarHeader">
    <p> {{=obj.LM.getMessage ('proposalSidebarExplanation') }}</p>
    <label>{{=obj.LM.getMessage ('proposalSidebarAction') }} </label>
</div>

<button class="deleteProposal">{{=obj.LM.getMessage('deleteProposal')}}</button>

<button class="saveProposal">{{=obj.LM.getMessage('saveProposal')}}</button>

<button class="saveAsProposal">{{=obj.LM.getMessage('saveAsProposal')}}</button>