<div class="signUpWizardComponent1">
    <div class="box">
        <h1>{{=obj.LM.getMessage('signUpTitle1')}}</h1>
    </div>
    <div class="box">
        <p>{{=obj.LM.getMessage('signUpExplanation1')}}</p>
    </div>
    <div class="box">
        <p><label>{{=obj.LM.getMessage('discipline')}}</label>
            <select class="disciplineDropDown" size="1">
            {{obj.disciplines.each(function (el) { }}
            <option value ="{{=el.get('id')}}">{{=el.get('name')}}</option>
            {{ }) }}
        </select>
        </p>
    </div>
    <div class="box">
    <p>
        <label>{{=obj.LM.getMessage('beginningdate') }}</label>
        <select class="beginningdateDropDown" size="1">
         
            {{ _.each(obj.beginningVal,function(el) { }}
            <option value ="">{{=el }}</option>
            {{ }) }}
            
        </select>
        
    </p>
    </div>
</div>