.profileFilterWrapperSettings{
    z-index: 30;
    position: absolute;
    clear: both;
    
    padding: 5px 10px;
    border-radius: 5px;
    border:1px solid $boxBorderColor;
    
    display: inline-block;
    background-color: white;
    width: 90%;
}
.filterComponent{
    position: relative;
}
.resetFilters {
    /* located in moduleFinder.scss*/    
    @extend .filterButton;
}
