.planHeadBar{
    .mainPageNavigation button{
        height:30px;
        box-sizing: border-box;
        padding:5px;
        margin:0px 0px 0px 20px;
        color:$boxColor;
        border:1px solid $boxBorderColor;
        background-color:$boxBgColor;
    }
}
.profileEditHeadWrapper{
    margin-top:130px;
    width:75%;
    height:50px;
}
.profileEditPlanWrapper{
    width:75%;
    min-height:100%;
}
.profileEditModuleFinderWrapper{
    position:fixed;
    top:0px;
    right:0px;
    width: 25%;
    height: 100%;
    padding-top: 130px;
    box-sizing: border-box;

    color:$boxColor;
    background-color:$boxBgColor;
    border-left:1px solid $boxBorderColor;
}