<td>
    <input type="checkbox">
</td>
<td>
    <a href="#" class="showPlan">{{=obj.plan.get('name')}}</a>
</td>
<td class="verification {{=obj.plan.get('verificationResult').get('status')}}">

</td>
<td>
    {{=obj.plan.get('creditpoints-sum')}}
</td>
<td>
    <button class="showPlan">{{=obj.LM.getMessage('showPlan')}}</button>
    <button class="duplicatePlan">{{=obj.LM.getMessage('duplicatePlan')}}</button>
    <button class="deletePlan">{{=obj.LM.getMessage('deletePlan')}}</button>
    <button class="exportPlan">{{=obj.LM.getMessage('exportPlan')}}</button>
</td>