<div class="planView">
    <table>
        <thead>
            <tr>
                <th>
                    <h3>{{=obj.LM.getMessage('sum')}}</h3>
                    {{=obj.plan.getEctsSum()}} ECTS
                </th>
                <th>
                    <h3>{{=obj.LM.getMessage('modules')}}</h3>
                </th>
            </tr>
        </thead>
        <tbody class="semesters">
        </tbody>
        <tbody class="addSemesterTBody">
            <td><button class="addSemesterButton">+</button></td><td style="position:relative;"></td>
        </tbody>
    </table>
</div>