<div class="planHeadBar">
    <h3>
        <button class="mainPageNavigation"><span class="homeSymbol">&#8962;</span> {{=obj.LM.getMessage("mainMenuButton") }}</button>&nbsp;&gt;&nbsp;<input value="{{=obj.plan.get('name')}}" id="curPlanName"/><img src="../img/icon_bearbeiten.svg" class="rename-plan-icon" alt="Plan Namen Bearbeiten"/>
    </h3>
    <div class="headBarButtons">
        <button id="generatePlan">{{=obj.LM.getMessage("makeProposal")}}</button>
        <button id="verifyPlan" class="{{=obj.plan.get('verificationResult').get('status')}}">{{=obj.LM.getMessage("verify")}}</button>
    </div>
</div>