.moduleBox{
    box-sizing: border-box;
    padding:5px;
    
    border: 1px solid $boxBorderColor;
    background-color: $boxBgColor;
    color:$boxColor;
    
    h3{
        
    }
    #preferenceButtonBox div{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .preferenceButton button{
        width:30px;
        height:30px;
        border:0px solid transparent;
        text-align:center;
        line-height:30px;
        font-size:25px;
        background-color:transparent;
    }
}
.leftSided .moduleBox{
    float:left;
}
.rightSided .moduleBox{
    float:right;
}
.semesterModules{
    .moduleBox{
        width:160px;
        height:100px;
    }
}