.moduleBox{
    position:relative;
    padding:10px;
    list-style-type: none;
    list-style-image: none;
    
    border: 1px solid $boxBorderColor;
    background-color: $boxBgColor;
    color:$boxColor;
    
    h3.moduleTitle{
        max-width:144px;
        float:left;
        font-size:$regularSize;
        font-weight:700;
        margin:0px;
    }
    p{
        margin:0px;
    }
    #preferenceButtonBox div{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .preferenceButton button{
        width:30px;
        height:30px;
        border:0px solid transparent;
        text-align:center;
        line-height:30px;
        font-size:25px;
        background-color:transparent;
    }
    &.draggable{
        cursor:pointer;
    }
    &.grabbing{
        cursor:grabbing;
    }
    .passed {
        float:right;
        width:16px;
        height:16px;
        background-image: url("../img/passed.png");
    }
    .buttons{
        position:absolute;
        bottom:20px;
        height: 30px;
        width:220px;
        button{
            border: 0px solid transparent;
            background-color: transparent;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }
        .deleteButton{
            background-image: url("../img/trash.png");
            float:left;
            height: 30px;
        }
        .preferenceButtonBox{
            float:right;
            height: 30px;
            .preferenceButtonUp{
                background-image:url("../img/voting-up-grey.png")
            }
            .preferenceButtonDown{
                background-image:url("../img/voting-down-grey.png")
            }
        }
        .preferenceButtonBox.positive{
            .preferenceButtonUp{
                background-image:url("../img/voting-up-green.png")
            }
        }
        .preferenceButtonBox.negative{
            .preferenceButtonDown{
                background-image:url("../img/voting-down-red.png")
            }
        }
    }
}
.leftSided .moduleBox{
    float:left;
}
.rightSided .moduleBox{
    float:right;
}
.semesterModules{
    .moduleBox{
        width:220px;
        height:140px;
        margin-right:20px;
    }
}