#notificationCentre li{
    display:block;
    width:320px;
    height:150px;
    margin:20px 0px 20px 0px;
    padding:15px;
    background-color:$boxBgColor;
    color:$boxColor;
    border: 3px solid $boxBorderColor;

    &.success{
        border-color: $bg1;
    }
    &.error{
        border-color: $error1;
    }
    .close{
        width:30px;
        height:30px;
        float:right;
        overflow:hidden;
        background-color:transparent;
        border:0px solid transparent;
        cursor: pointer;
        
        text-align:center;
        line-height:30px;
        font-size:25px;
    }
    h2{
        font-size:$titleSize;
        margin:0px 0px 15px 0px;
    }
    p{
        font-size:$regularSize;
    }
}