.planHeadBar{
    background-color:$bg2;
    color:$color2;
    h3{
        font-size: $regularSize;
        font-weight:700;
        input{
            border-width:0px 0px 1px 0px;
            border-color:$color2;
            border-style: solid;
            background-color: transparent;
        }
    }
}