.planHeadBar{
    .homeSymbol{
        font-size: $subtitleSize;
    }
    button{
        height:30px;
        box-sizing: border-box;
        padding: 0px 5px 5px 5px;
        margin:0px 0px 0px 20px;
        color:$boxColor;
        border:none;
        background-color: transparent;
        cursor: pointer;
    }
}
#deleteUser {
    border-color: $error1;
    background-color: lighten($error1, 50%); 
}