.planHeadBar{
    position:fixed;
    z-index:998;
    top:100px;
    left:0px;
    width:75%;
    height:50px;
    box-sizing: border-box;
    padding:10px 20px 10px 35px;
    overflow: hidden;
    
    background-color:$bg2;
    color:$boxColor;
    h3{
        float:left;
        margin:0px;
        padding: 5px 0px 0px 0px;
        
        font-size: $regularSize;
        input{
            border-width:0px 0px 1px 0px;
            border-color:$color2;
            border-style: solid;
            
            background-color: transparent;
            font-size: $regularSize;
        }
    }
    .headBarButtons{
        float:right;
        button{
            height:30px;
            box-sizing: border-box;
            padding:5px;
            margin:0px 0px 0px 20px;
            
            cursor: pointer;
            color:$boxColor;
            border:1px solid $boxBorderColor;
            background-color:$boxBgColor;
            &#verifyPlan{
                padding:3px 3px 3px 30px;
                background-position: 5px 5px;
                background-repeat:no-repeat;
                &.valid{
                    background-image:url("../img/verification-valid.png")
                }
                &.invalid{
                    background-image:url("../img/verification-invalid.png")
                }
                &.not-verified{
                    background-image:url("../img/verification-not-verified.png")
                }
            }
        }
    }
}