<button class='profileFilterWrapper'>
    {{=obj.filter.get("name")}}
</button>
<div class="profileFilterWrapperSettings">
    <label class="minRange">min: {{=obj.filter.get("specification").min}} </label>
    <label class="maxRange">max: {{=obj.filter.get("specification").max}}</label>
    <div class="rangeSlider"></div>
    <input id='min_range_{{=obj.filter.get("id")}}' class="currentMinRange"type="number" value='{{=obj.filter.get("curValue").min}}' readonly>
    <input id='max_range_{{=obj.filter.get("id")}}' class="currentMaxRange" value='{{=obj.filter.get("curValue").max}}' readonly>
</div>