div[class^=generationWizardComponent] {
    padding-top: 30px;
}
div[class^=generationWizardComponent] .box {
    width: 55%;
    min-width: 500px;
    margin-bottom: 10px;
    position: relative;
}

div[class^=generationWizardComponent] .box label {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 100px;
    position: relative;
    top: 2px;
}

.generationWizardComponent3 .box label.label-center {
        margin-left: 0px;
        margin: auto;
}

.minECTSmin {
    position: absolute;
    left: 0;
}

.minECTSmax {
    position: absolute;
    right: 0;
}

.objectiveFunctionDropDown{
    
}