#notificationCentre{
    position: fixed;
    bottom:0px;
    right:0px;
    z-index:1500;
    width:350px;
    margin:0px;
    padding:0px 30px 0px 0px;
    list-style-type:none;
    list-style-image:none;
    
    opacity: 0.7;
    filter: alpha(opacity=70);
}