.planListDeleteSelected{
    margin-bottom: 10px;
    margin-top: 30px;
}
table.planList{
    width:1050px;
    border-collapse: collapse;
    tr{
        margin: 5px 0px 5px 0px;
        background-color: $boxBgColor;
        color: $boxColor;
        th, td{
            border:1px solid $boxBorderColor;
            text-align:left;
            vertical-align: center;
            margin:0px 0px 0px 0px;
            padding:15px;
        }
        th{
            &:nth-child(1){
                width:20px;
                text-align:center;
            }
            &:nth-child(2){
                width:355px;
            }
            &:nth-child(3){
                width:20px;
            }
            &:nth-child(4){
                width:70px;
            }
            &:nth-child(5){
                width:435px;
            }
        }
    }
}