.planEditModuleFinderWrapper {
    
    button[class$=Proposal] {
        display: block;
        margin: 10px 20px;
    }
}
.proposalSidebarHeader label {
    font-weight: bold;
}
.proposalSidebarHeader {
    margin-left: 20px;
    margin-top: 20px;
}
.proposalSidebarTitle {
    height: 50px;
    font-weight: bold;
    background-color: #cce0e0;
    
}
.proposalSidebarTitle label{    
    margin-left: 20px;
    font-size: 13px;
    position: relative;
    top: 20px;
}
button.deleteProposal, button.saveProposal, button.saveAsProposal {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    background-color: #FFFFFF;
    color: #444444;
    border: 1px solid #dddddd;
    padding: 3px;
}