.planEditModuleFinderWrapper {
    
    button[class$=Proposal] {
        display: block;
        margin: 10px 20px;
    }
}
.proposalSidebarHeader label {
    font-weight: bold;
}
.proposalSidebarHeader {
    margin-left: 20px;
    margin-top: 20px;
}
.proposalSidebarTitle {
    height: 50px;
    font-weight: bold;
    background-color: #666666;
    
}
.proposalSidebarTitle label{    
    margin-left: 20 px;
    margin-top: 20px;
    font-size: 13 px;    
}
